@model IEnumerable<SalesManagement.Models.SaleDetail>



<div class="mt-3">
    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Tax</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal total = 0;
                    decimal grandTotal = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ItemNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.QTY)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.Tax)</td>
                        <td>
                            @{
                                total = ((item.QTY * item.Price) + ((item.QTY * item.Price) * item.Tax) / 100);

                                grandTotal += total;
                            }
                            @total
                        </td>
                        <td>
  
      <form asp-action="DeleteSaleDetail" asp-controller="SaleDetails"  asp-route-id="@item.SaleDetailId">
            <a asp-action="Edit" asp-controller="SaleDetails" asp-route-id="@item.SaleDetailId">Edit</a> 
   <input type="submit" value="Delete" class="btn btn-small" />
</form>    
</td>
                    </tr>
                }
                <tr>
                    <td colspan="3"></td>


                    <td>Total</td>
                    <td>
                        <label> @grandTotal</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>